{% extends "index.html" %}
{% block content %}

<section id="content">
    <h2>{{newtitle.cat_name}}</h2>
    <section id="new_element">
        <p>
            <a href="{{url_for('newItem')}}">New {{newtitle.cat_name}} movie</a>
        </p>
    </section>
    <div id="cat_list">
        {% for n in subs %}
        <a href="{{url_for('itemDetails', id=n.item_id)}}">
            <p>{{n.movie_title}}</p>
        </a>
        {% endfor %}
    </div>

</section>

{% include 'sidenav.html' %}
{% endblock %}