/* Structure */


.content {
    max-width: 750px;
    margin: auto;
    font-family: "Roboto", sans-serif;
}


.featured-work {
    color: #7d97ad;
    font-weight: 400;
}


.heading {
    display:flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-between;
    box-sizing: border-box;
    flex: 1 auto;
    border-bottom: 2px solid #7d97ad;
}


.logo-image {
    max-width: 75px;
    max-height: 75px;
    margin: 20px;
}


.main-img {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    max-width: 100%;
    max-height: 100%;
}


.project {
    display: block;
}


.projects {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    color: #2d3c49
}


@media (max-width: 750px) {
    .projects{
        justify-content: center;
    }
}


/* Typography */


a:link {
    text-decoration: none;
}


a:hover {
    text-decoration: underline;
}


.name {
    font-weight: 100;
}


.paragraph-text {
    margin: 0;
}


.project-text {
    margin-top: 5px;
    margin-bottom: 5px;
}


.subtitle {
    text-align: right ;    
    margin-right: 5px;
    color: #2d3c49
}


.url-text {
    font-size: smaller;
}
